.queesfiranHeader {
  background-color: #01232b;
}
.ubicacionHeader {
  background-color: #003444;
}
.fechasYhorariosHeader {
  background-color: #004d65;
}
.entradasYvaloresHeader {
  background-color: #006787;
}
.planoFerialHeader {
  background-color: #33859f;
}
.descargaVolanteFerial {
  background-color: #66a4b7;
}

p-accordion-tab {
  background-color: #01232b;
}
