.footer {

    display: inline-flex;
    width: 100%;
    justify-content: center;
    margin-top: 5% !important;
}

.footerImage {
    height: 100%;
    justify-content: center;
}

.footerImage img {
    width: 85%;
    cursor: pointer;
}