.App {
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Menuheader {
  background-color: #006787;
  color: white;
  height: 70px;
  font-size: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.sinPadding {
  padding-right: 0px;
  padding-left: 0px;
}