@font-face {
  font-family: 'Futura';
  src: url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.eot');
  src: url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.woff2') format('woff2'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.woff') format('woff'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.ttf') format('truetype'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.svg#Futura') format('svg');
}

.App {
  text-align: center;
  font-family: Futura !important;
  font-style: normal;
  font-weight: 400;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Menuheader {
  background-color: #006787;
  color: white;
  height: 70px;
  font-size: 2em;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.sinPadding {
  padding-right: 0px;
  padding-left: 0px;
}