@font-face {
  font-family: 'Futura';
  src: url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.eot');
  src: url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.woff2') format('woff2'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.woff') format('woff'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.ttf') format('truetype'),
    url('/resources/fonts/@font-face/e8c6a63541de0a4211a9358cbe74690f.svg#Futura') format('svg');
}

body {
  margin: 0;
  font-family: Futura !important;
  font-style: normal;
  font-weight: 400;
}

code {
  font-family: Futura !important;
}

.p-accordion .p-accordion-header a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #004d65 !important;
  color: white !important;
  font-weight: 700;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight a {
  background-color: #004d65 !important;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.css-69cngj,
[data-css-69cngj] {
  background-color: #004d65 !important;
  background-image: initial;
  color: #ffffff !important;
}