body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}

code {
  font-family: proxima-nova, sans-serif;
}

.p-accordion .p-accordion-header a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #004d65 !important;
  color: white !important;
  font-weight: 700;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}

.p-accordion .p-accordion-header:not(.p-disabled).p-highlight a {
  background-color: #004d65 !important;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.css-69cngj,
[data-css-69cngj] {
  background-color: #004d65 !important;
  background-image: initial;
  color: #ffffff !important;
}