body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.content {
}
.p-accordion .p-accordion-header a {
  padding: 0.571em 1em;
  border: 1px solid #c8c8c8;
  background-color: #004d65 !important;
  color: white !important;
  font-weight: 700;
  border-radius: 3px;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.p-accordion .p-accordion-header:not(.p-disabled).p-highlight a {
  background-color: #004d65 !important;
  border: 1px solid #c8c8c8;
  color: #ffffff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.css-69cngj,
[data-css-69cngj] {
  background-color: #004d65 !important;
  background-image: initial;
  color: #ffffff !important;
}
